# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/design-patterns/v16/ipch/AutoPCH/eca400845cd01eb9/ABSTRACT_FACTORY.ipch
/.vs/design-patterns/v16/ipch/AutoPCH/c1fec85140a2ccf3/VCTMP1296_401045.SINGLETON.6FA1CDA8.ipch
/.vs/design-patterns/v16/ipch/AutoPCH/99a0a607f8c039d/DECORATOR.ipch
/.vs/design-patterns/v16/ipch/AutoPCH/97244ab67b4e7b69/SINGLETON.ipch
/.vs/design-patterns/v16/ipch/AutoPCH/7b431153b7cbb561/VCTMP1296_450302.SINGLETON.6FA1CDA8.ipch
/.vs/design-patterns/v16/Browse.VC.opendb
/.vs/design-patterns/v16/Browse.VC.db-wal
